.myProducts-top {
  display: flex;
}

.left-myproduct {
  border-bottom: 2px solid black;
}

.left-myproduct h2 {
  font-family: Syne;
  font-weight: 600;
  font-size: 90px;
  line-height: 108px;
  margin-left: 20px;
}

.right-myproduct {
  margin-left: auto;
}
.right-myproduct .icons {
  display: flex;
  width: 55px;
  top: 925px;
  gap: 50px;
  margin-top: 100px;
  margin-right: 120px;
}

.icons h4 {
  font-weight: 400;
}

.myProducts-bottom {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}

.left-bottom {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.11px;
  list-style: none;
  text-align: start;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 20px;
}

.left-bottom :hover {
  cursor: pointer;
}

.right-bottom {
  width: 100%;
  flex-grow: 3;
}

.item-cards {
  width: 100% !important;
  display: flex;
  gap: 15px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.card-data {
  height: 350px;
  width: 30%;
  padding: 10px;
  flex-basis: 20%;
  margin: 10px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 15px 3px rgba(223, 223, 223, 0.8);
}

.card-data img {
  height: 35%;
}

.card-data h6 {
  font-size: 14px;
  font-weight: 600;
}

.card-data p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.small-icons {
  display: flex;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  .right-myproduct .icons {
    display: none;
  }

  .small-icons {
    visibility: visible;
  }
  .left-bottom {
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
  }

  .card-data {
    width: 88%;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 15px 3px rgba(132, 128, 128, 0.8);
  }

  .left-myproduct h2 {
    font-family: Syne;
    margin-left: 5px;
    font-weight: 600;
    font-size: 40px;
    line-height: 50.24px;
    margin-top: 24px;
  }
}
