.head-items {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background: black;
  color: #fff;
}

.left h3 {
  font-size: 24px;
  font-weight: 400;
}

/* .right-items {
  display: flex;
  margin-left: auto;
  font-size: 10px;
  gap: 10px;
}

.right-items h3 {
  font-weight: 400;
} */
.right {
  margin-left: auto;
  font-size: 30px;
}

hr {
  position: absolute;
  top: 6.5%;
  width: 97%;
  margin-left: 5px;
}
