.banner {
  background: black;
  margin-top: -62px;
  color: #fff;
  height: 800%;
}

.rectangle {
  position: relative;
  transform: translate(520px, -360px);
  color: #fff;
  background-color: rgba(221, 119, 3, 0.955);
  height: 260px;
  width: 66%;
  z-index: 1;
}
.orange-banner {
  height: 0;
}
.banner-text {
  position: relative;
  text-align: start;
  font-size: 74px;
  font-weight: 800;
  margin-left: 20%;
  z-index: 20;
}

.banner-year {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  position: relative;
  text-align: start;
  font-size: 68px;
  margin-left: 34%;
  z-index: 30;
}

.banner-strightline {
  height: 1px;
  width: 80%;
  color: blue;
  background-color: #fff;
  transform: translate(-200px, 480px);
}
.star-banner {
  transform: translate(166px, -261px);
}
.Banner-star {
  position: absolute;
  margin: 1em auto;
  width: 1em;
  font-size: 12em;
}
.Banner-star::before {
  content: "";
  position: absolute;
  background: white;
  width: 7px;
  height: 8px;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}
.Banner-star::after {
  content: "";
  position: absolute;
  background: white;
  width: 7px;
  height: 8px;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

@media only screen and (max-width: 1024px) {
  /* .star-banner {
    transform: translate(140px, -200px);
    width: 0;
  } */
  .rectangle {
    position: relative;
    transform: translate(520px, -360px);
    width: 43%;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .banner-text {
    font-size: 50px;
    margin-left: 10%;
  }

  .banner-year {
    font-size: 40px;
  }

  .rectangle {
    transform: translate(128px, -249px);
    height: 206px;
  }
  .banner-strightline {
    transform: translate(-4px, 270px);
  }
  .star-banner {
    transform: translate(124px, -228px);
    width: 0;
  }
}
